// Colors
$background-color: #e7e8e3;
$background-color-contrast: #fff;
$primary-color: #1b2c3b;

// Typography
$font-family-sans-serif: "Arial", "san-serif";
$font-size-base: 0.9rem;
$font-weight-base: 900;
$line-height-base: 1.6;
